// color
$color1: #19cdda;
$color2: #8cc7b5;
$color3: #a0eee1;
$color4: #bee7e9;
$color5: #beedc7;


//remove link style
@mixin rmLinkStyle {
    color: grey;
    text-decoration: none;
}

@mixin FaEthereumIconColor {
color: #4568DC;
}