@import "./styles/partials";

//remove all link style
.rmLinkStyle {
  @include rmLinkStyle;
}

.rmLinkStyle:hover {
  color: white;
}

.rmLinkStyleClose {
  text-decoration: none;
  color: grey;
}

.rmLinkStyleBlack {
  text-decoration: none;
  color: black;
}

.FaEthereumIcon {
  @include FaEthereumIconColor;
}



//font
.fontNormal {
  // font-family: Nunito;
  font-family: "Baloo 2", cursive;
}

//About us
.aboutUsImgOurStory {
  width: 250px;
  height: 250px;
}
.aboutUsImgCus {
  width: 225px;
  height: 225px;
}
.aboutUsImgCom {
  width: 225px;
  height: 225px;
}
.aboutUsImgContactUs {
  width: 245px;
  height: 245px;
}

/* /Pages/CompanySalesHistory */
#comSalesHisTable {
  display: flex;
}

#comSalesHisThead .comSalesHisTr,
#comSalesHisTbody .comSalesHisTr {
  display: inline-flex;
  flex-direction: column;
}

/* /Pages/CompanySalesSummary */
#comSalesSumWelcome {
  font-size: 13px;
}

/* components/navbar */
.logoutBtn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* Customer Show Product */
.alertStockProduct {
  font-size: 12px;
}

.alertStockService {
  font-size: 12px;
}

.toastNoticeShowProduct {
  opacity: 0.8;
  width: 200px;
  height: 150px;
}

#addcartmessage {
  font-size: 17px;
  color: rgba(95, 92, 92, 0.624);
}

.addcarticon {
  font-size: 30px;
  color: rgba(95, 92, 92, 0.624);
}

/* making toast on the top layer */
#cusShowProductContainer {
  position: relative;
}

#cusShowProductBottomLayer,
#cusShowProductTopLayer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#cusShowProductTopLayer {
  z-index: 10;
  position: absolute;
  transform: translate(50%, 50%);
}

/* Customer Show Service */
.toastNoticeShowService {
  opacity: 0.8;
  width: 200px;
  height: 150px;
}

#addcartmessageser {
  font-size: 17px;
  color: rgba(95, 92, 92, 0.624);
}

.addcarticon {
  font-size: 30px;
  color: rgba(95, 92, 92, 0.624);
}

/* making toast on the top layer */
#cusShowServiceContainer {
  position: relative;
}

#cusShowServiceBottomLayer,
#cusShowServiceTopLayer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#cusShowServiceTopLayer {
  z-index: 10;
  position: absolute;
  transform: translate(50%, 50%);
}

// Company Navbar
.NavBarIcon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

//customer cart
.overlayCartMessage {
  position: fixed;
  top: 30%;
  left: 40%;
  height: 15%;
  width: 15%;
  z-index: 10;
  color: rgba(63, 61, 61, 0.658);
  background-color: rgba(197, 191, 191, 0.353);
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  /*dim the background*/
}

#overlayCartMessageText {
  font-size: 20px;
}

.overlayCartMessageIcon {
  font-size: 28px;
}

#emptyCartPic {
  height: 200px;
  width: 200px;
}

//customer payment status
.paymentStatusImg {
  height: 250px;
  width: 250px;
}

.paymentRedirect {
  color: rgb(78, 105, 172);
}

.paymentRedirect:hover {
  color: rgb(93, 79, 108);
}

//customer payment success
#luckyDrawIconBtn {
  color: rgba(81, 12, 81, 0.42);
}

#luckyDrawSpinner {
  color: rgba(81, 12, 81, 0.42);
}

@media (prefers-reduced-motion: no-preference) {
  #paymentSuccessImg {
    animation: App-paymentSuccess-spin infinite 3s linear;
  }
}

@keyframes App-paymentSuccess-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

//show product detail
.showProductDetailImg {
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

.showProductDetailComImg {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.containerComNameAndImage {
  display: flex;
  justify-content: start;
}

//Show Company Product Detail
.showComDetailProductImg {
  height: "150px";
  width: "150px";
}




// Support
#chatty{
  max-width: 600px;
  margin: 30px auto;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px #0000000d;
  border-radius: 2px;
}

#chat-window{
  height: 400px;
  overflow: auto;
  background: #f9f9f9;
}

#output p{
  padding: 14px 0px;
  margin: 0 20px;
  border-bottom: 1px solid #e9e9e9;
  color: #555;
}

#echo p{
  color: #aaa;
  padding: 14px 0px;
  margin: 0 20px;
}


#echo {
  background: #f9f9f9;

}

#output strong{
  color: #79aa9f;
}

// label{
//   box-sizing: border-box;
//   display: block;
//   padding: 10px 20px;
// }

#handle, #message{
  padding: 10px 20px;
  box-sizing: border-box;
  background: #eee;
  border: 0;
  display: block;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #eee;
  font-family: Nunito;
  font-size: 16px;
}

#join, #send{
  background: #7F7FD5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  font-size: 18px;
  border: 0;
  padding: 12px 0;
  width: 100%;
  border-radius: 0 0 2px 2px;
}







// socket.io !!!!!
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
.home__container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home__container > * {
  margin-bottom: 10px;
}
.home__header {
  margin-bottom: 30px;
}
.username__input {
  padding: 10px;
  width: 50%;
}
.home__cta {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #607EAA;
  color: #F9F5EB;
  outline: none;
  border: none;
  border-radius: 5px;
}
.chat {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}
.chat__sidebar {
  height: 100%;
  background-color: #F9F5EB;
  flex: 0.2;
  padding: 20px;
  border-right: 1px solid #fdfdfd;
}
.chat__main {
  height: 100%;
  flex: 0.8;
}
.chat__header {
  margin: 30px 0 20px 0;
}
.chat__users > * {
  margin-bottom: 10px;
  color: #607EAA;
  font-size: 14px;
}
.online__users > * {
  margin-bottom: 10px;
  color: rgb(238, 102, 102);
  font-style: italic;
}
.chat__mainHeader {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #F9F5EB;
}
.leaveChat__btn {
  padding: 10px;
  width: 150px;
  border: none;
  outline: none;
  background-color: #D1512D;
  cursor: pointer;
  color: #EAE3D2;
}
.message__container {
  width: 100%;
  height: 80vh;
  background-color: #fff;
  padding: 20px;
  overflow-y: scroll;
}

.message__container > * {
  margin-bottom: 10px;
}
.chat__footer {
  padding: 10px;
  background-color: #F9F5EB;
  height: 10vh;
}
.form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.message {
  width: 80%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid #ddd;
  outline: none;
  padding: 15px;
}
.sendBtn {
  width: 150px;
  background-color: green;
  padding: 10px;
  border: none;
  outline: none;
  color: #EAE3D2;
  cursor: pointer;
}
.sendBtn:hover {
  background-color: rgb(129, 201, 129);
}
.message__recipient {
background-color: #f5ccc2;
width: 300px;
padding: 10px;
border-radius: 10px;
font-size: 15px;
}
.message__sender{
background-color: rgb(194, 243, 194);
max-width: 300px;
padding: 10px;
border-radius: 10px;
margin-left: auto;
font-size: 15px;
}
.message__chats > p {
  font-size: 13px;
}
.sender__name {
  text-align: right;
}
.message__status {
  position: fixed;
  bottom: 50px;
  font-size: 13px;
  font-style: italic;
}