/* /Pages/CompanySalesHistory */
#comSalesHisTable {
  display: flex;
}

#comSalesHisThead .comSalesHisTr, #comSalesHisTbody .comSalesHisTr {
  display: inline-flex;
  flex-direction:column;
}

/* /Pages/CompanySalesSummary */
#comSalesSumWelcome{
  font-size: 13px;
}